<%= form_for(:user, url: session_path(:user)) do |f| %>
<div>
   <%= f.text_field :email, placeholder: "ユーザネーム" %>
</div>
<div>
<%= f.password_field :password, placeholder: "パスワード" %>
</div>
<div id="auto_login_wrap">
<%= f.check_box :remember_me %> <%= f.label :"次回から自動的にログインする" %>
</div>
<div id="login_button_wrap">
<%= f.submit('ログイン') %>
</div>               
<% end %>