<h1>Listing items</h1>

<table>
  <tr>
    <th>Original url</th>
    <th>Redirect url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.original_url %></td>
    <td><%= item.redirect_url %></td>
    <td><%= link_to 'Show', item_path(item.redirect_url) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Item', new_item_path %>
