<p id="notice"><%= notice %></p>

<p>
  <b>Original url:</b>
  <%= @item.original_url %>
</p>

<p>
  <b>Redirect url:</b>
  <%= @item.redirect_url %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
